<!doctype html>
<html ng-app="myApp">
<head>
<title>Welcome To AngularJS!  Controller</title>
<!--<script src="/angularanother/angular.min.js"></script>-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
</script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>

  <div ng-controller="languages" >
Select Your Favourite languages:<button ng-click="php()">PHP</button>
<button ng-click="javascript()">Javascript</button>
<button ng-click="html()">HTMl</button>

<p> Your Have Select {{myFavlangu}}</p>
  </div>
<script>
var app=angular.module('myApp',[]);
app.controller('languages', function($scope){
//var selectlang=[{name:'PHp',extension:'.php'},{name:'HTMl',extension:'.html'}];
$scope.myFavlangu='NONE';
$scope.php=function(){
$scope.myFavlangu='PHP';
}
$scope.javascript=function(){
$scope.myFavlangu='Javascript';
}
$scope.html=function(){
$scope.myFavlangu='HTMl';
}
});
</script>

</body>
</html>